/* CSS BY Matthew Yates */
/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ROOT VARIABLES */
:root {
  --midnight-blue: #1f2a44;
  --olive-green: #76885b;
  --champagne-gold: #e5c185;
  --linen: #f8f4ec;
  --dark-charcoal: #2b2b2b;
  --soft-white: #faf9f6;
  --box-shadow: 0 2px 4px 0px #2b2b2bb9;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;

  display: flex;
  flex-direction: column;

  background-color: var(--linen);
  color: var(--dark-charcoal);
}
h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  padding: 0.5rem 0;
}
h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-style: italic;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
header {
  text-align: center;

  width: 100%;
  background-color: var(--midnight-blue);
  color: var(--soft-white);

  img {
    width: 40%;
    padding: 0.5rem;
  }

  nav {
    background-color: var(--champagne-gold);
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--dark-charcoal);
    padding: 0.75rem 0;

    font-size: 1.5rem;
    font-weight: bold;
  }
}

main {
  padding: 2rem 1rem;

  #Introduction {
    padding: 1.25rem 0;
    margin-bottom: 1.25rem;
    border-bottom: 2px solid var(--champagne-gold);

    h2 {
      margin-bottom: 0.5rem;
    }
    p {
      font-weight: lighter;
    }
  }
  #Offerings {
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--champagne-gold);

    section {
      padding: 1rem;
      margin: 1rem 0;

      background-color: var(--olive-green);
      box-shadow: var(--box-shadow);

      border-radius: 5px;

      color: var(--soft-white);

      h3 {
        margin-bottom: 0.5rem;
      }

      p {
        width: 100%;
        padding: 0.25rem 0;
        text-align: left;
        line-height: 1.1rem;
      }

      ul {
        list-style: inside;
        li {
          margin: 0.1rem 0;
        }
      }
    }
  }
  #Gallery {
    display: flex;
    flex-direction: column;

    border-bottom: 2px solid var(--champagne-gold);
    h2 {
      margin: 2rem 0 0.5rem 0;
    }
    p {
      margin-bottom: 1rem;
      padding: 0.5rem 0;
    }
    picture {
      display: block;
      text-align: center;
      width: 100%;

      margin: 1rem auto;

      figcaption {
        padding: 0.5rem 1rem;
        background-color: var(--soft-white);

        border-radius: 0 0 5px 5px;
        box-shadow: var(--box-shadow);

        font-size: 0.75rem;
        font-style: italic;
      }

      img {
        max-width: 100%;
        border-radius: 5px 5px 0 0;
      }
    }

    a {
      width: 90%;

      margin: 1rem auto;
      padding: 1rem 1rem;
      text-align: center;
      align-self: center;

      color: var(--soft-white);
      background-color: var(--olive-green);
      text-decoration: none;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem auto;
  padding: 4rem 0;

  background-color: var(--midnight-blue);
  address {
    padding: 1rem 0;
    color: var(--soft-white);

    span {
      color: var(--champagne-gold);
    }
    a {
      color: var(--champagne-gold);
    }
  }
}
/* MEDIA QUERY (medium) */
/* MEDIA QUERY (large) */
/* MEDIA QUERY (xl) */
